/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
}

/* Banner */
.banner {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(13, 13, 51, 0.667), rgba(15, 14, 61, 0.182)), url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.bannertexto {
    font-size: 2rem;
    font-weight: 500;
    margin-top: auto;
    margin-left: auto;
}

/* Cards */
.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #000000;
    color: #ededed;
    padding: 2rem 0;
}

.footer a:hover {
    text-decoration: underline;
}

.equipe{
    display: flex !important;
    flex-wrap: wrap !important;
}

.divcard{
    justify-content: center!important;
}

.card{
    margin-top: 30px;
    width: 400px;
}

.card-img-top{
    height: 250px !important;
    background-position: center; /* Centraliza a imagem */
    background-size: cover;
}

#manu{
    background-image: url(../img/emy.jpeg);
}
#emy{
    background-image: url(../img/manu.jpeg);
}
#pedro{
    background-image: url(../img/pedro.jpeg);
}

.section-title2{
    text-align: center!important;
}

p{
    text-align: justify !important;
}

.card-body{
    min-height: 100px !important;
}

